* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 90px; 
}

body {
    background-color: #0B1120;
    padding-top: 90px; 
}

#header header {
    position: fixed;             
    top: 0;
    left: 0;
    width: 100%;

    background: rgba(2, 6, 23, 0.75); 
    backdrop-filter: blur(6px);       

    display: flex;
    align-items: center;

    padding: 6px 5%;   
    gap: 40px;

    z-index: 1000;     
}

#header header img {
    width: 10rem;
    background: none;
    margin-right: auto;
}

#header header a {
    color: #F8FAFC;
}


#header header a:hover {
    color: #06B6D4;
    transition: .5s;
}


#header header button {
    margin-left: auto;
    background-color: #2563EB;
    border-radius: 8px;
    font-size: 16px;
    color: #F8FAFC;
    border: none;
    cursor: pointer;
    padding: 12px 25px;
    font-weight: bold;
    transition: 0.3s;
}

#header header button:hover {
    background-color: #1d4ed8;
    transform: scale(1.05);
}

.content h1 {
    color: #F8FAFC;

}

#melhorfibra {
    font-size: 14px;
    margin-left: 1px;
    margin-bottom: 10px;
    color: #94A3B8;
}

.content {
    margin-top: 8px;
    margin-left: 5%;
    margin-top: 20px;
}

#nabalzanet {
    color: #94A3B8;
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 500px;
    margin-top: 10px;
    margin-left: 1px;
}


#btn_queromeuplano {
    margin-top: 10px;
    margin-left: 1px;
    background-color: #2563EB;
    border-radius: 8px;
    font-size: 16px;
    color: #F8FAFC;
    border: none;
    cursor: pointer;
    padding: 12px 25px;
    font-weight: bold;
    transition: 0.3s;
}

#comofuncionacontent {
    color: #F8FAFC;
    margin-left: 30px;
    font-size: .8rem;
}

.como-funciona {
    padding: 80px 5%;
    text-align: center;
}

.como-funciona h2 {
    font-size: 2.5rem;
    color: #F8FAFC;
    margin-bottom: 50px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;

}

.passo {
    flex: 1;
    min-width: 250px;
    background: #020617;

    padding: 40px 20px;
    border-radius: 20px;
    border: 1px solid #1e293b;
    transition: 0.3s;
}

.passo:hover {
    border-color: #06B6D4;

    transform: translateY(-10px);
}

.passo .icone {
    font-size: 3rem;
    margin-bottom: 20px;
}

.passo h3 {
    color: #2563EB;
    margin-bottom: 15px;
}

.passo p {
    color: #94A3B8;
    line-height: 1.6;
}

.planos {
    padding: 100px 5%;
    background-color: #0B1120;
    text-align: center;
}

.container-planos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card-plano {
    background: #020617;
    border: 1px solid #1e293b;
    padding: 40px 30px;
    border-radius: 25px;
    width: 320px;
    transition: 0.4s;
    position: relative;
}


.card-plano.destaque {
    border: 2px solid #2563EB;
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(37, 99, 235, 0.2);
}

.selo {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: #2563EB;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
}

.velocidade {
    font-size: 3rem;
    font-weight: 800;
    color: #F8FAFC;
    margin: 20px 0;
}

.velocidade span {
    font-size: 1.2rem;
    color: #06B6D4;
}

.card-plano ul {
    list-style: none;
    margin-bottom: 30px;
    text-align: left;
    color: #94A3B8;
}

.card-plano ul li {
    margin-bottom: 12px;
}

.preco {
    font-size: 2rem;
    font-weight: 700;
    color: #F8FAFC;
    margin-bottom: 25px;
}

.preco span {
    font-size: 1rem;
    opacity: 0.6;
}

.botao-plano {
    display: block;
    background: transparent;
    border: 1px solid #2563EB;
    color: #F8FAFC;
    padding: 15px;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.card-plano.destaque .botao-plano {
    background: #2563EB;
}

.botao-plano:hover {
    background: #06B6D4;
    border-color: #06B6D4;
    transform: translateY(-3px);
}

.titulo-sessao .badge,
h2 {
    color: #F8FAFC;
}

h3 {
    color: #F8FAFC;
}